
$primary-light: #eee;
//$primary-dark: #1E2327;
$primary-dark: #161C26;
$text-dark: #222;
$text-light: #eee;
$font-headline: "Julius Sans One";
$font-secondary: "Nixie One";
$font-paragraph: "Quicksand";
